<div class="row" style="padding: 15px 0px">
    <!--<div class="col-md-1"></div>-->
    <div class="col-md-11" style="padding-left: 100px">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Command Interface</h3>
            </div>
            <div class="box-body">
                <a ng-if="vm.leakHawkButton != true" ng-click = "vm.startLeakHawk()" class="btn btn-app">
                    <i class="fa fa-edit"></i> Start LeakHawk
                </a>
                <a ng-if="vm.leakHawkButton == true" ng-click = "vm.stopLeakHawk()" class="btn btn-app">
                    <i class="fa fa-edit"></i> Stop LeakHawk
                </a>
                <a ng-if="vm.twitterButton != true" ng-click = "vm.addTwitter()" class="btn btn-app">
                    <i class="fa fa-edit"></i> Add Twitter Data Feed
                </a>
                <a ng-if="vm.twitterButton == true" ng-click = "vm.removeTwitter()" class="btn btn-app">
                    <i class="fa fa-edit"></i> Remove Twitter Data Feed
                </a>
                <a class="btn btn-app">
                    <i class="fa fa-play"></i> Add Pastebin Data Feed
                </a>
            </div>
        </div>


        <div class="box-body">
            <div class="form-group">
                <label for="prefilterfilepath">Pre Filter File Path</label>
                <input class="form-control" id="preFilterFilePath" placeholder="Pre Filter Filepath" type="text">
            </div>

            <div class="form-group">
                <label for="contextfilterfilepath">Context Filter File Path</label>
                <input class="form-control" id="contextfilterfilepath" placeholder="Context Filter File Path" type="text">
            </div>

            <div class="form-group">
                <label for="classifierFilePath">Classifier File Path</label>
                <input class="form-control" id="classifierFilePath" placeholder="Classifier File Path" type="text">
            </div>

            <!--<div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input id="exampleInputFile" type="file">

                <p class="help-block">Example block-level help text here.</p>
            </div>-->
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
        </div>

    </div>

</div>
