<div class="container">
    <section class="content" style="padding: 15px 0px">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Incident Details</h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body no-padding">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style = "text-align: center;">Attribute</th>
                                <th style = "text-align: center;">Value</th>
                            </tr>
                            <tr>
                                <td style = "text-align: center;">Post_Key</td>
                                <td style = "text-align: center;">
                                    {{vm.postDetails.key}}
                                </td>
                            </tr>
                            <tr>
                                <td style = "text-align: center;">Post</td>
                                <td style = "text-align: center;">
                                    <a href="https://pastebin.com/{{vm.postDetails.key}}" ng-if="vm.postDetails.postType=='pastebin-posts'">
                                        https://pastebin.com/{{vm.postDetails.key}}
                                    </a>
                                    <a href="http://twitter.com/itdoesnotmatter/status/{{vm.postDetails.key}}" ng-if="vm.postDetails.postType=='tweets'">
                                        http://twitter.com/itdoesnotmatter/status/{{vm.postDetails.key}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style = "text-align: center;">Post_Type</td>
                                <td style = "text-align: center;">
                                    {{vm.postDetails.postType}}
                                </td>
                            </tr>
                            <tr>
                                <td style = "text-align: center;">User</td>
                                <td style = "text-align: center;">
                                    {{vm.postDetails.user}}
                                </td>
                            </tr>
                            <tr>
                                <td style = "text-align: center;">Title</td>
                                <td style = "text-align: center;">
                                    {{vm.postDetails.title}}
                                </td>
                            </tr>
                            <tr>
                                <td style = "text-align: center;">Date</td>
                                <td style = "text-align: center;">
                                    {{vm.postDetails.date | date:'yyyy-MM-dd hh:mm a'}}
                                </td>
                            </tr>
                            <tr>
                                <td style = "text-align: center;">Has Link</td>
                                <td style = "text-align: center;">
                                    {{vm.postDetails.link}}
                                </td>
                            </tr>
                            <tr>
                                <td style = "text-align: center;">Sensitivity Level</td>
                                <td ng-if="vm.postDetails.level==0" style="color: #8fdf82; text-align: center; ">No Content Found</td>
                                <td ng-if="vm.postDetails.level==1" style="color: #6400ff; text-align: center;"><strong>Low</strong></td>
                                <td ng-if="vm.postDetails.level==2" style="color: rgba(255,99,0,0.99); text-align: center;"><strong>High</strong></td>
                                <td ng-if="vm.postDetails.level==3" style="color: #ff1e00; text-align: center;"><strong>Critical</strong></td>
                            </tr>
                            <tr>
                                <td style = "text-align: center;">Content</td>
                                <td style = "text-align: center;">
                                    {{vm.postDetails.content}}
                                </td>
                            </tr>
                            <tr>
                                <td style = "text-align: center;">Evidence</td>
                                <td style = "text-align: center;">
                                    {{vm.postDetails.evidence}}
                                </td>
                            </tr>
                            <!--<tr>-->
                                <!--<td>Link</td>-->
                                <!--<td>-->
                                    <!--{{vm.msgCount}}-->
                                <!--</td>-->
                            <!--</tr>-->
                            <tr>
                                <td style = "text-align: center;">Sensitive Categories</td>
                                <td style = "text-align: center;">
                                    {{vm.postDetails.predictClass}}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>


    </section>
</div>