<div class="container" id="dataTable">
    <section class="content" style="padding: 15px 0px">

        <div class="row" >
            <div class="col-md-12">
                <div class="form-group">
                    <!--<label>LeakHawk Output</label>-->
                    <!--<textarea id = "mytext" class="form-control" rows="10" placeholder="" disabled="" ng-model="vm.responseData"></textarea>-->
                    <div class="box-body no-padding">
                        <div class="table-responsive" >
                            <table class="table no-margin table-hover dataTable" >
                                <tbody data-link="row" class="rowlink hand-cursor">
                                <tr>
                                    <th>Source</th>
                                    <th>Link</th>
                                    <th>Date</th>
                                    <th>User</th>
                                    <th>Type</th>
                                    <th>Level</th>
                                    <th></th>
                                </tr>

                                <tr ng-repeat="post in vm.postList" data-href='google.com'>
                                    <td>{{post.postType}}</td>
                                    <td><a href="https://pastebin.com/{{post.key}}">{{post.key}}</a></td>
                                    <td>{{post.date *1000| date:'yyyy-MM-dd hh:mm a'}}</td>
                                    <td ng-if="post.user!=null">{{post.user}}</td>
                                    <td ng-if="post.user==null">Unknown</td>
                                    <td>{{post.predictClass}}</td>
                                    <td ng-if="post.level==1" style="color: #6400ff"><strong>Low</strong></td>
                                    <td ng-if="post.level==2" style="color: rgba(255,99,0,0.99)"><strong>High</strong></td>
                                    <td ng-if="post.level==3" style="color: #ff1e00"><strong>Critical</strong></td>
                                    <td><strong><button data-ng-click="vm.routeToIncident(post.key)" class="btn btn-block btn-success btn-sm">More Detail</button></strong></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>